* {
  border: 0;
  margin: 0;
  padding: 0;
}
.input-text {
  border: 1px solid grey;
  padding: 5px;
  height: 40px;
}
.flex {
  display: flex;
}
.row-reverse {
  flex-direction: row-reverse;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}
.justify-end {
  justify-content: end;
}
.gap10 {
  gap: 10px;
}
.gap {
  gap: 20px;
}
.pd-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px 0px;
}

.full-height {
  height: 100vh;
}
